* {
  margin: 0;
  padding: 0;
}

body{
  font-family: gdsherpa, Helvetica,Arial, sans-serif;
  float: left;
  min-width: 360px;
}


.tag-line{
  background-color: #182333;
  float: left;
  width: 100%;
  display: inline;
  margin: auto;
  min-height: 5vh;
  text-align: center;
}

.tag-line1{
  width: 80%;
  margin: 5px;
}

.tag-line-content{
  float: left;
  display: inline;
  padding-top: 10px;
  color: #CCC;
  padding: 10px;
}

.mission{
  width: 45%;
  float: left;
}


.social-links a{
  margin-left: 10px;
}

.social-icons{
  float: left;
  width: 15%;
}

.call{
  float: right;

}

.call a{
  text-decoration: none;
  color: #CCC;
}


.fa {
  color: #CCC;
  text-decoration: none;
  padding-right: 10px;
}


.container {
  width: 100%;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  float: left;
}

.logo-div{
  float: left;
}

.navbar {
  margin-top: 55px;
  width: 100%;
  min-height: 18vh;
  margin: auto;
  float: left;
  /* display: flex; */
  /* align-items: center; */
  padding: 0 5vh;
  /* padding-top: 20px; */
  /* float: left; */
  padding: 2rem;
  padding-top: 3rem;
  text-align: end;
}

.navbar-div{
  float: right;
}

.navbardiv{
  float: left;
  padding-right: 6rem;
}

.freeqoute{
  float: left;
  padding: 8px;
  cursor: pointer;
}

.logo {
  width: 100px;
  cursor: pointer;
}
.logo-name{
  width: 20rem;
}

.logospan{
  width: 45%;
}

.brandName{
  float: left;
  
}

.brandName span{
  float: left;
}

.brandnamediv{
  float: left;
  font-size: 3vh;
  font-weight: bolder;
  font-family: Noto Sans;
  text-shadow: 2px 2px 5px #2c77b5;
}

.cart {
  width: 40px;
  cursor: pointer;
}
.navbar .btn {
    display: inline-block;
    background: linear-gradient(45deg, #0f4cd2, #1423c8);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgb(94 28 68 / 15%);
}
nav {
  flex: 1;
  padding-left: 60px;
}
nav ul li {
  font-size: 20px;
  display: inline-block;
  list-style: none;
  margin: 0px 36px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}

.topnav a{
  color: white;
}


.content{
  float: left;
  width: 100%;
  background: linear-gradient(45deg, rgb(20, 14, 14), black);
}
.content h1 {
  font-size: 60px;
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #232d60;
}
.content p {
  font-size: 20px;
  color: #fdfdfd;
}

.banner-content .btn {
  display: inline-block;
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  border-radius: 6px;
  padding: 10px 20px;
  margin-top: 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15); 
  animation: talk 1s infinite;
  animation-duration: 4s;
}


#row1-banner{
  height: 80vh;
  width: 100%;
  margin-top: 5px;
  background-image: url(images/ac4.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  float: left;
  box-sizing: border-box;
  position: relative;  
}
.banner-content{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.feature-img {
  height: 40%;
  position: absolute;
  bottom: 0;
  right: 160px;
  border-radius: 100vh;
}


.banner-content {
  position: relative;
  animation: mymove 3000ms;
}

.banner-auto-scroll div img{
  /* width:45%; */
	/* height:150px; */
}

@keyframes mymove {
  from {top: 200px;}
  to {bottom: 400px;}
}

.navbar .btn{
  animation: talk 1s infinite;
}


@keyframes talk {
  from {border: solid 1px rgb(193, 233, 16);}
  to {border: solid 1px rgb(29, 219, 64);}
} 

.second-content-row{
  min-height: 75vh;
  position: relative;
  width: 100%;
  text-align: center;
  float: left;
  border-radius: 5px;
  margin-top: 6px;
  /* background: linear-gradient(12deg, #a3b4d7, black); */
  background-image: url("./images/ac5.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second-content{
  margin: 0;
  /* position: relative; */
  
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-20%, -50%); */
  z-index: 2;
  /* background: linear-gradient(12deg, #a3b4d7, rgb(168, 188, 193)); */
  min-height: 50vh;
  border-radius: 2rem;
  /* width: 110vh; */
  float: right;
    width: 60%;
    /* padding: 226px; */
    /* margin-top: 30%; */
    padding: 2;
    padding-top: 20vh;
    padding-right: 4px;
}

.second-content-title{
  font-size: 55px;
  /* text-transform: uppercase; */
  color: tomato !important;
  
}

.second-content p{
  color: grey;
  padding: 30px 50px;
  text-align: justify;
}

.third-content-row{
  min-height: 60vh;
  width: 100%;
  float: left
}

.content-our-services{
  float: left;
  /* background-image: url("./images/ac6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: white;
  width: 100%;
  min-height: inherit;
  text-align: center;
  padding: 5vh;
  animation-name: third-content-row-animation;
  animation-duration: 10s;
  animation-delay: 1s;
}

.our-server-column-group{
  width: 100%;
  float: left;
  /* padding: 3vh; */
  padding-top: 4vh;
}

.s1-content p{
  color: #232d60 !important;
  font-size: 18px !important;
  text-align: justify;
}

.s1-content-inner:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 800ms;
}

.s1-content{
  padding: 20px 20px;
}

.s1{
  padding-top: 18px;
}

.s1-content-inner{
  background-color: aliceblue;
  min-height: inherit;
  margin: 15px;
}

.s1-title{
  font-size: 20px;
  padding-top: 35px;
  font-weight: bolder;
}

@keyframes third-content-row-animation {
  from {background-color: white;}
  to {background-color: ghostwhite;}
}

footer{
  width: 100%;
  background-color: #182333;
  min-height: 300px;
  padding: 10px 0px 25px 0px;
  float: left;
}

.footer .row{
  width: 70%;
  margin: auto;
}

.column{
  min-height: 255px;
  float: left;
  width: 33%;
  /* border: solid 1px; */
}

.title-footer{
  color: #fff;
  padding-top: 40px;

}

.content-footer{
  color: #CCC;
  padding-top: 30px;
}

.content-footer a{
  text-decoration: none;
  color: #CCC;
}
.content-footer1{
  padding-top: 30px;
  color: #CCC;
}

.content-footer2 a{
  color: #CCC;
  text-decoration: none;
  padding-top: 2px;
}

.content-footer1 a{
  text-decoration: none;
  color: #CCC;
}

.footer-social{
  padding-top: 10px;
}

.topnav {
  /* overflow: hidden;  */
  /* padding-top: 1rem; */
  float: left;
}

.topnav a {
  float: left;
  /* display: block; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.topnav a:hover {
  text-shadow: 1px 1px ;
  color: black;
  transition-delay: 100ms;
}



.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav .icon{
    display: block;
  }
  .topnav a{
    padding: 0%;
  }
  .topnav{
    padding-top: 10px;
  }

  #myLinks{
    display: none;
    float: left;
  }

  .navbar{
    /* padding-top: 1rem; */
    /* padding: 10px; */
    min-height: 0%;
    padding: 0%;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-right: 1px;
    padding-left: 1px;
  }
  nav{
    padding-left: 0%;
  }

  .navbar .btn{
    display: none;
  }
  .navbardiv{
    padding-right: 0%;
    /* padding: 1rem; */
    float: right;
  }
  .navbar-div{
    /* width: 35px; */
  }
  .brandnamediv{
    font-size: 14px;
  }
  #brandlogoid{
    width: 13%;
  }

  .logo {
    font-size: 30px;
  }
  .logo-div{
    /* width: 76%; */
    padding-left: 5px;
    float: left;
    padding-top: 5px;
  }
  .logospan {
    width: 100%;
    float: left;
  }
  .logospan img{
    width: 100%;
  }
  .brandName{
    text-align: center;
  }
  #brandnameid{
    padding-left: 10px;
  }
  .column{
    width: 100%;
    text-align: center;
    justify-items: auto;
  }
  .mission{
    width: 100%;
    font-size: small;
  }
  .tag-line-content{
    font-size: 10px;
    /* padding: 5px; */
  }
  .tag-line1{
    float: left;
    width: 100%;
    margin: 0%;
  }
  .call{
    display: none;
  }
  .second-content {
    margin: 0;
    /* min-height: 50vh; */
    border-radius: 2rem;
    margin: 0;
    float: left;
    /* position: absolute; */
    top: 0;
    left: 0;
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 2;
    min-height: 50vh;
    border-radius: 2rem;
    padding-top: 10px;
    width: 100%;
  }
  .second-content-row{
    min-height: auto;
  }
  .second-content-title{
    font-size: 30px;
    padding-top: 7vh;
  }
  .our-server-column-group{
    padding-top: 2vh;
  }
  .content-our-services{
    padding: 3vh;
  }
  .title-our-service{
    padding-top: 1vh;
  }
  .s1-title {
    font-size: 18px;
  }
  .content-footer2{
    padding-top: 10px;
  }
  .column{
    min-height: 120px;
  }
  .content-footer{
    padding-top: 16px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.copyright{
  text-align: center;
  background-color: #333;
  color: #CCC;
  min-height: 10px;
  float: left;
  width: 100%;
}
.copyright span p{
  padding: 5px;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #dfe1e8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-div{
  padding-bottom: 10px;
}

.active, .dot:hover {
  background-color: #4d6fbc;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: #0a090aad /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  padding-left: 7rem;
  min-height: 40rem;
  background-color: #172841;
  background-image: url(./images/bg.jpg);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.getintouch
{
  width: 100%;
  /* text-align: center; */
  /* padding: 2rem; */
  font-size: x-large;
  font-weight: bolder;
  /* color: white; */
}

.formdiv input{
  width: 45%;
  min-height: 3em;
  padding: 10px;
  margin: 2px;
  float: left;
  border-radius: 10px;
  margin-top: 2vh;
  margin-right: 10px;
}

.formdiv{
  float: left;
  width: 100%;
}

.textarea{
  width: 60%;
  border-radius: 10px;
  min-height: 7rem;
  min-height: 3em;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  margin-top: 2vh;
  margin-right: 10px;
}

.form-elements{
  margin-top: 1rem;
  float: left;
  font-size: 20px;
}

.get-in-touch{
  padding-top: 5rem;
}

.modal-content form{
  padding-top: 3vh;
}

#popbutton{
  float: left;
  font-size: 25px;
  background: 008CBA;
  padding: 10px;
  
}

.capbut{
  float: left;
}

.fordivelements{
  float: left;
  width: 100%;
}